
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>页面标题</title>
</head>
<body>

    <div style="width:80%;height:300px;position:relative">
        <img id = "myimage" width = 500 height 300 />
        <span style="position: absolute;border:2px solid red;"></span>
    </div>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<p id = "p1">here</p>
<p id = "p2">here</p>
<p id = "p3">here</p>
<script type = "text/javascript" src = "static/js/js1.js"></script>
</body>
</html>